<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestra Historia</h2>
                    <h3 class="section-subheading text-muted">Seleccionamos algunos de los hitos mas relevantes, si pusieramos todo lo que ha pasado ha pasado en estos años se nos termina el giga.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/meetup.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>28 de Junio del 2019</h4>
                                    <h4 class="subheading">Se crea el grupo de meetup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Se crea Tour de Bares en la plataforma meetup.com con el objetivo de generar encuentros en bares  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Encuentro.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18 de Julio de 2019</h4>
                                    <h4 class="subheading">Primer evento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Después de varias consultas y encuestas, se desarrolla el primer evento en el bar inmigrantes, con 6 participantes. Esta fecha la conmemoramos año a año como el aniversario de Tour de Bares</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24 de Enero de 2020</h4>
                                    <h4 class="subheading">Se crea nuestro logo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Este día estrenamos nuestro logo en el grupo de meetup y en whatsapp y utilizamos también otros logos alternativos</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/radio.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25 de Abril de 2020</h4>
                                    <h4 class="subheading">Inicia Radio Tour de Bares</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Producto de los encierros de la fecha, inicialmente se generó un espacio en una radio online llamada coronatime donde los participantes mataban su tiempo mientras no podían hacer nada fuera. Luego se le da una estructura con un tema e inicia el proyecto bajo el nombre "Radio Tour de Bares" </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cerveza.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18 de Julio de 2021</h4>
                                    <h4 class="subheading">Lanzamiento de nuestras bebidas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Como un medio de financiar los gastos de la comunidad se lanza una marca de bebidas para vender en los eventos. En este día se hizo un evento de lanzamiento en el local "Las Cosas del Querer"</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/redes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 de Marzo de 2022</h4>
                                    <h4 class="subheading">Despegue de las redes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Llegamos a los 1000+ miembros y seguidores en nuestras principales redes de comunicación meetup, facebook e instagram. Y 200+ eventos organizados. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Se parte
                                    <br>De nuestra
                                    <br>Historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
