<section id="faq">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Preguntas Frecuentes</h2>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <details>
                    <summary><b>¿Son un grupo de amigos?</b></summary>
                    <div>No, mas allá de que algunos participantes generaron una amistad a partir de conocerse en alguno de nuestros encuentros, no es el objetivo. Cada uno es libre de decidir como es mas conveniente relacionarse con cada una de las personas que conoce dentro del grupo, como en cualquier otro ámbito.</div>
                </details>
                <details>
                    <summary><b>¿Cuáles son los requisitos para ser parte del grupo?</b></summary>
                    <div>Tener ganas de interactuar con gente diferente a vos, incluso con gente que ni siquiera compartas los valores, que si no fuera por esta oportunidad nunca interactuarías mas allá de un "buenos días" o alguna pregunta sobre el estado del tiempo.</div>
                </details>
                <details>
                    <summary><b>¿Cuando es el próximo evento?</b></summary>
                    <div>Lo definimos semana a semana, no tenemos un día fijo. Tenés que estar atento a los avisos en meetup que luego son replicados en whatsapp, telegram y signal.</div>
                </details>
                <details>
                    <summary><b>No conozco a nadie, y no tengo con quien ir</b></summary>
                    <div>No te preocupes por esto, porque a todos les pasó la primera vez y se sintieron cómodos desde el día uno. A diferencia de otros grupos sociales donde los nuevos tienen que pagar "derecho de piso", acá el nuevo participante es el que va a recibir mas atención ya que te convertirías en la persona mas valiosa dentro del encuentro para aquellos que queremos interactuar con personas nuevas. Así que seguramente no vas a dejar de conversar desde el principio al final del evento con todo el mundo.</div>
                </details>
                <details>
                    <summary><b>¿Puedo ir con amigos?</b></summary>
                    <div>Tener ganas de interactuar con gente diferente a vos, incluso con gente que ni siquiera compartas los valores, que si no fuera por esta oportunidad nunca interactuarías mas allá de un "buenos días" o alguna pregunta sobre el estado del tiempo.</div>
                </details>
                <details>
                    <summary><b>¿Puedo ir con mi pareja?</b></summary>
                    <div>Si, todas las personas son bienvenidas. Esto no es un grupo exclusivo para personas solteras ni de citas, es un lugar para interactuar con personas que son tan diferentes a nosotros en su origen y forma de ser que jamás interactuaríamos por otro medio mas allá de un "buenos días". Esto no quita que cada uno es libre de decidir con que objetivo participar en el grupo, nadie lo va a cuestionar.</div>
                </details>
                <details>
                    <summary><b>¿Cual es el rango de edad de los participantes?</b></summary>
                    <div>No segmentamos por un rango de edad específico, todos son bienvenidos. Por lo tanto, nadie es muy mayor o muy joven para participar. Quizás si sos menor de edad, la restricción te la van a poner algunos lugares a los que asistamos y no dejen entrar menores pero nosotros como grupo nunca te vamos a negar la entrada, al contrario, nos interesa estimular la interacción intergeneracional. Si te estás haciendo esta pregunta, me alegra decirte que es probable que te hayas encontrado con una creencia limitante (soy muy mayor o menor para hacer x cosa) que vas a tener que romper para poder participar del grupo y disfrutarlo a pleno.</div>
                </details>
                <details>
                    <summary><b>¿De que se habla en los encuentros?</b></summary>
                    <div>No tenemos una temática específica, las charlas se van dando de forma natural durante el transcurso del encuentro.
                        No limitamos los tópicos y existe plena libertad para tratar todo tipo de temas y emitir opiniones sin que haya ningún tipo de tabú.
                        Jamás serás censurado por un comentario u opinión. Los organizadores somos acérrimos defensores de la libertad individual, y particularmente de la de expresión.
                        Entendemos que una persona que no es libre de expresarse dentro del grupo no puede aportar todo su potencial a otros.
                        Somos conscientes que vivimos en una sociedad con bajo nivel de aceptación al diferente y esta política puede llevar a que algunos se ofendan, este no es el lugar para esas personas.</div>
                </details>
                <details>
                    <summary><b>¿Es obligatorio tomar alcohol?</b></summary>
                    <div>No, cada uno es libre de consumir lo que quiera en los encuentros y nadie le va a cuestionar nada al respecto.
                        De hecho, una de las ventajas de salir con nosotros a un boliche por ejemplo es que podés estar en nuestra mesa sin consumir nada, el boliche no te va a echar porque estás con nosotros y pasás desapercibido.
                        Somos el plan ideal para salir con 0$</div>
                </details>
                <details>
                    <summary><b>¿Cómo hago para anotarme?</b></summary>
                    <div>En <a href="https://www.meetup.com/es-ES/Tour-de-Bares">meetup.com</a></div>
                </details>
                <details>
                    <summary><b>¿Tengo que ir a todos los boliches?</b></summary>
                    <div>No, no es necesario. Siempre que hagamos recorridas podés unirte a la mitad de la recorrida o irte antes.
                        Incluso esto aplica al horario, no tenés que estar en todo el evento de principio a fin. Nadie lo va a juzgar.</div>
                </details>
                <details>
                    <summary><b>¿Tengo que asistir a todos los encuentros para ser miembro?</b></summary>
                    <div>No, no es necesario. Los eventos siempre son de asistencia libre, eso significa libre de ir a aquellos que te gusten, ya que como hacemos muchos tipos de eventos es esperable que no te gusten todos eventos.</div>
                </details>
            </div>
        </div>
    </div>
</section>