<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Que Somos?</h2>
                    <h3 class="section-subheading text-muted">Somos una comunidad que buscamos vincularnos con personas de fuera de nuestros círculos sociales habituales.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Libre Admisión</h4>
                    <p class="text-muted">Toda persona puede ser miembro sin importar sus origenes, edad, caterísticas o ideologías.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Libertad de Expresión</h4>
                    <p class="text-muted">Todo miembro puede expresarse libremente durante las reuniones sobre cualquier tema.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Auto-organizado</h4>
                    <p class="text-muted">Todos los miembros pueden proponer y organizar eventos. Si bien ya tenemos organizadores mas experimentados para apoyar a los principiantes, mantenemos una estructura horizontal.</p>
                </div>
            </div>
        </div>
    </section>
