<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">¿Como me uno?</h2>
                <h3 class="section-subheading text-muted">Suscribiendote en algunas de nuestras redes. Los eventos se organizan por meetup, los avisos los enviamos por whatsapp/telegram y meetup. Facebook e instagram lo usamos para las fotos y videos de los eventos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline social-buttons" style="text-align:center">
                    <li><a href="https://www.meetup.com/es-ES/Tour-de-Bares/">M</a></li>
                    <li><a href="https://www.instagram.com/tourdebaresmvd/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/tourdebaresmvd/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://chat.whatsapp.com/HduorolIGhVCZ4aVSW5TEC"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="https://youtube.com/channel/UCSuZ6sl-8dcXoZWTwlwwjxA"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="mailto:tourdebaresmvd@gmail.com"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>